.footer-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    background-color: rgb(1, 1, 161);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 100;
    height: 12rem;
}

.footer-title {
    font-size: 2rem;
    position: relative;
    top: 40%;
    margin-top: 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.603);
    width: 28rem;
}

.coolfix-footer {
    color: rgba(250, 235, 215, 0.76);
    margin-right: 0rem;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    width: 90%;
}


.footer-subtitle-1 {
    border-bottom: solid 1px white;
    width: 30rem;
}

.footer-subtitle-2 {
    width: fit-content;
    position: relative;
    top: 5%;
    right: 0;
}

@media screen and (max-width: 768px) {
  .footer-styles {
    position: relative;
    font-size: 0.6rem;
    height: 3rem;
    bottom: 0px;
    padding-bottom: 2rem;
    justify-content: center;
    
  }

  .footer-title {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .coolfix-footer {
    margin-right: 0;
  }
  
  .footer-info-container {
    align-items: left;
    font-size: 0.6rem;
    left: 0;
    text-align: center;
    align-items: center;
    width: 99%;
    display: flex;
    margin-bottom: 0;
  }

  .footer-subtitle {
    position: relative;
    margin-bottom: 0;
    margin-top: 1rem;
    align-items: left;
    width: 90%;
  }

  .footer-subtitle-2 {
    width: 90%;
    text-align: left;
    position: relative;
    top: 2rem;
    right: 0rem;
    left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(1, 1, 161);
}

}