.footer-styles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    background-color: rgb(1, 1, 161);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-weight: 100;
    height: 12rem;
}

.footer-title {
    font-size: 2rem;
    position: relative;
    top: 40%;
    margin-top: 0;
    border-bottom: solid 1px white;
    width: 28rem;
}

.coolfix-footer {
    color: rgba(250, 235, 215, 0.76);
    margin-right: -0.5rem;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    width: 90%;
}


.footer-subtitle-1 {
    border-bottom: solid 1px white;
    width: 30rem;
}

.footer-subtitle-2 {
    width: fit-content;
    position: relative;
    top: 5%;
    right: 0;
}

@media screen and (max-width: 768px) {
  .footer-styles {
    font-size: 0.8rem;
  }

  .footer-title {
    font-size: 1.4rem;
    width: 80vw;
  }

  .coolfix-footer {
    margin-right: -1%;
  }
  
  .footer-info-container {
    font-size: 0.8rem;
  }

  .footer-subtitle-2 {
    width: fit-content;
    position: relative;
    top: 15%;
    right: 0rem;
}

}