.service-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    
    /* --- CORRECTION --- */
    width: 100%;  
    min-width: 100%;    /* Ocupa el 100% de la columna del grid */
    max-width: 40rem; /* Mantiene tu tamaño máximo para PC */
    height: 38rem;    /* Tu altura original */
    min-height: 36rem;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    overflow: hidden;
}

.service-card:hover {
    scale: 1.02;
}

.service-card-image {
    width: 100%; 
    height: auto;
    display: block; 
}

.service-card-image:hover {
    cursor: pointer;

}

.card-info {
    display: block;
}

.card-info:hover {
    cursor: default;
}

.service-card .item-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-card .service-icon {
    position: relative;
    right: 1.5rem;
    top: 2px;
}

.item-title h3 {
    color: rgb(0, 0, 197);
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1.2rem;
    position: relative;
    right: auto;
    left: auto;
    margin-bottom: 1rem;
}

.service-card p {
    color: black;
    width: 60%;
    font-size: 1.1rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    height: auto;
}

.service-card .solicitar-servicio-button {
    display: inline-block;
    background-color: rgb(0, 0, 197);
    font-size: 1.5rem;
    padding: 0.8rem 6rem;
    margin-top: 1.5rem;
    color: white;
    border-radius: 1.5rem;
    transition: all 0.2s ease;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.service-card .solicitar-servicio-button:hover {
    background-color: rgb(73, 73, 248);
}

.service-card .solicitar-servicio-button:active {
    background-color: rgb(0, 0, 145);
}

.service-card a:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 199);;
}


@media screen and (max-width: 767px) {
    .service-card {
        min-height: 23rem;
        min-width: 21rem;
        height: 27rem;
    }

    .service-card .service-icon {
        width: 1.2rem;
        height: 1.8rem;
        top: 0rem;
        left: 0.5rem;
    }

    .item-title h3 {
        font-size: 1.5rem;
        margin-top: 0.7rem;
    }

    .service-card p {
        width: 90%;
        max-width: 18rem;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .service-card .solicitar-servicio-button {
        width: 95%;
        padding: 1rem;
        height: 3rem;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 992px) {
        .service-card {
        min-height: 22rem;
        min-width: 21rem;
        height: 27rem;
        }
}